<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Device_Managament_App.Properties.Settings.Device_Management_dbConnectionString"
            connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=Device_Management_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>